doctype html
html(ng-app='multi-screen-demo')
  head
    title multi-screen-demo
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    link(rel='stylesheet', type='text/css', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    div.container(ng-view)

    script(type='text/javascript', src='/bower_components/angular/angular.min.js')
    script(type='text/javascript', src='/bower_components/angular-resource/angular-resource.min.js')
    script(type='text/javascript', src='/bower_components/angular-route/angular-route.min.js')
    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/app.js')
    script(type='text/javascript', src='/js/controllers.js')
    script(type='text/javascript', src='/js/directives.js')
    script(type='text/javascript', src='/js/filters.js')
    script(type='text/javascript', src='/js/services.js')