doctype html
html(ng-app='multi-screen-demo')
  head(ng-controller='HeadCtrl')
    title multi-screen-demo
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', ng-href='/css/{{deviceType}}.css')

  body(ng-controller='GlobalCtrl')
    div.container(ng-view)

    script(src='/socket.io/socket.io.js')
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/angular-resource/angular-resource.min.js')
    script(src='/bower_components/angular-route/angular-route.min.js')
    script(src='/bower_components/angular-socket-io/socket.js')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/js/mobile-check.js')
    script(src='/js/app.js')
    script(src='/js/controllers/index.js')
    script(src='/js/controllers/mobile.js')
    script(src='/js/controllers/pc.js')
    script(src='/js/directives.js')
    script(src='/js/filters.js')
    script(src='/js/services.js')