body {
  padding-top: 20px;
  padding-bottom: 20px;
}

#btn-code-submit {
  margin-top: 10px;
}

.demo-list-container {
  width: 90%;
}

.demo-list {
  margin: 40px auto 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  list-style: none;
}

.demo-list li a {
  margin-bottom: 10px;
  width: 120px;
}

.gestures-container {
  position: relative;
  display: table;
  margin: 20px auto 0;
  width: 90%;
  height: 350px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.gestures-container p {
  display: table-cell;
  vertical-align: middle;
  font-size: 24px;
  color: #777;
  text-align: center;
}

.gestures-caption-container {
  margin: 10px auto 0;
  width: 90%;
}

.dpad-container {
  position: relative;
  margin: 20px auto 0;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-dpad {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-weight: 900;
}

#btn-up {
  top: 10px;
  left: 70px;
}

#btn-left {
  top: 70px;
  left: 10px;
}

#btn-right {
  top: 70px;
  right: 10px;
}

#btn-down {
  bottom: 10px;
  left: 70px;
}