body {
  padding-top: 20px;
  padding-bottom: 20px;
}

#span-code {
  color: #5bc0de;
  font-weight: bold;
}

.demo-container {
  border: 1px solid #ccc;
  border-radius: 4px;
}

#gestures-container {
  display: table;
  width: 100%;
  height: 100px;
}

#gestures-container p {
  display: table-cell;
  vertical-align: middle;
  font-size: 44px;
  text-align: center;
}

#dpad-container {
  position: relative;
}

#dpad-target {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: blue;
  border-radius: 4px;
}