include navbar

div.dpad-container
  button.btn.btn-default.btn-lg.btn-dpad#btn-up(type='button') &#x2191;
  button.btn.btn-default.btn-lg.btn-dpad#btn-left(type='button') &#x2190;
  button.btn.btn-default.btn-lg.btn-dpad#btn-right(type='button') &#x2192;
  button.btn.btn-default.btn-lg.btn-dpad#btn-down(type='button') &#x2193;