include navbar

div.dpad-container(ng-controller='MobileDpadCtrl')
  button.btn.btn-default.btn-lg.btn-dpad#btn-up(type='button', ng-click='selectUp()') &#x2191;
  button.btn.btn-default.btn-lg.btn-dpad#btn-left(type='button', ng-click='selectLeft()') &#x2190;
  button.btn.btn-default.btn-lg.btn-dpad#btn-right(type='button', ng-click='selectRight()') &#x2192;
  button.btn.btn-default.btn-lg.btn-dpad#btn-down(type='button', ng-click='selectDown()') &#x2193;