div.demo-list-container
  ul.demo-list(ng-controller='MobileDemoListCtrl')
    li 
      a.btn.btn-default.btn-lg(ng-click='selectDpad()') D-pad
    li
      a.btn.btn-default.btn-lg(ng-click='selectTrackpad()') Trackpad